<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">26932668_cal</property>
		<property name="hibernate.connection.password">calendar#2018</property>
		<property name="hibernate.connection.url">jdbc:mysql://serwer1884902.home.pl:3306/26932668_cal</property>
		<property name="format_sql">false</property>
		<property name="show_sql">true</property>
		<!-- automatyczne tworzenie modelu opcje:none, validate, create, update, 
			create-drop -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- mapowanie encji na tabela i tabel na encje -->
		<!-- <mapping class="pl.pwn.reaktor.model.Encja" /> -->
		<!-- <mapping class="pl.pwn.reaktor.model.User" /> -->
		<mapping class="pl.pwn.reaktor.model.Login" />
		<mapping class="pl.pwn.reaktor.model.CalendarFilter" />
		<mapping class="pl.pwn.reaktor.model.Calendar" />
		<mapping class="pl.pwn.reaktor.model.Plan" />
		<mapping class="pl.pwn.reaktor.model.TematySzkolen" />
		<mapping class="pl.pwn.reaktor.model.Szkolenia" />
		
		
	</session-factory>
</hibernate-configuration>